.login
{
    background-image: url("https://img.freepik.com/fotos-premium/concepto-big-data-technology-for-business-finance_31965-3535.jpg?w=826");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
}

.logo
{
    width: 100%;
    height: 13em;
    margin: auto;
}