@keyframes ldio-s1lpdxnwvqh {
    0% {
      opacity: 1;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1.5,1);
    } 100% {
      opacity: 0;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1,1);
    }
  }
  .ldio-s1lpdxnwvqh div > div {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #157759;
    animation: ldio-s1lpdxnwvqh 1.2048192771084336s linear infinite;
  }.ldio-s1lpdxnwvqh div:nth-child(1) > div {
    left: 148px;
    top: 88px;
    animation-delay: -1.0542168674698795s;
  }
  .ldio-s1lpdxnwvqh > div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 160px 100px;
  }.ldio-s1lpdxnwvqh div:nth-child(2) > div {
    left: 130px;
    top: 130px;
    animation-delay: -0.9036144578313252s;
  }
  .ldio-s1lpdxnwvqh > div:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 142px 142px;
  }.ldio-s1lpdxnwvqh div:nth-child(3) > div {
    left: 88px;
    top: 148px;
    animation-delay: -0.753012048192771s;
  }
  .ldio-s1lpdxnwvqh > div:nth-child(3) {
    transform: rotate(90deg);
    transform-origin: 100px 160px;
  }.ldio-s1lpdxnwvqh div:nth-child(4) > div {
    left: 46px;
    top: 130px;
    animation-delay: -0.6024096385542168s;
  }
  .ldio-s1lpdxnwvqh > div:nth-child(4) {
    transform: rotate(135deg);
    transform-origin: 58px 142px;
  }.ldio-s1lpdxnwvqh div:nth-child(5) > div {
    left: 28px;
    top: 88px;
    animation-delay: -0.4518072289156626s;
  }
  .ldio-s1lpdxnwvqh > div:nth-child(5) {
    transform: rotate(180deg);
    transform-origin: 40px 100px;
  }.ldio-s1lpdxnwvqh div:nth-child(6) > div {
    left: 46px;
    top: 46px;
    animation-delay: -0.3012048192771084s;
  }
  .ldio-s1lpdxnwvqh > div:nth-child(6) {
    transform: rotate(225deg);
    transform-origin: 58px 58px;
  }.ldio-s1lpdxnwvqh div:nth-child(7) > div {
    left: 88px;
    top: 28px;
    animation-delay: -0.1506024096385542s;
  }
  .ldio-s1lpdxnwvqh > div:nth-child(7) {
    transform: rotate(270deg);
    transform-origin: 100px 40px;
  }.ldio-s1lpdxnwvqh div:nth-child(8) > div {
    left: 130px;
    top: 46px;
    animation-delay: 0s;
  }
  .ldio-s1lpdxnwvqh > div:nth-child(8) {
    transform: rotate(315deg);
    transform-origin: 142px 58px;
  }
  .loadingio-spinner-spin-hhtedzn2a84 {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-s1lpdxnwvqh {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-s1lpdxnwvqh div { box-sizing: content-box; }
  .overlay
  {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
  }